
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for melon_object in cart_list %}
        <tr>
            <td>{{ melon_object.common_name }}</td>
            <td>{{ melon_object.quantity }}</td>
            <td>{{ melon_object.price }}</td>
            <td>{{ melon_object.total_melon_cost }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Total: {{ total_bill }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
